<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="nav-small-cap menu"><i class="fa fa-list-alt icon-new" aria-hidden="true"> <span
                            id="text-left-sidebar">CATEGORY</span> </i></li>
                <li class="menu"> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard <span
                                class="badge badge-pill badge-cyan ml-auto">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="./cate">Minimal </a></li>
                    </ul>
                </li>



                <li class="nav-small-cap menu"><i class="fa fa-list-alt icon-new" aria-hidden="true"> <span
                            id="text-left-sidebar">MENU</span> </i>
                </li>
                <li class="menu"> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="ti-layout-media-right-alt"></i><span
                            class="hide-menu">Forms</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="form-basic.html">Basic Forms</a></li>
                    </ul>
                </li>


                <li class="nav-small-cap menu"><i class="fa fa-list-alt icon-new" aria-hidden="true"> <span
                            id="text-left-sidebar">DASHBOARD</span> </i></li>
                <li class="menu"> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="ti-gallery"></i><span class="hide-menu">Page Layout</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="layout-single-column.html">1 Column</a></li>

                    </ul>
                </li>
                <li class="nav-small-cap menu"><i class="fa fa-list-alt icon-new" aria-hidden="true"> <span
                            id="text-left-sidebar">USER</span> </i></li>
                <li class="menu"> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="ti-gallery"></i><span class="hide-menu">Page Layout</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="layout-single-column.html">1 Column</a></li>

                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>